<div class="container-fluid" id="event-main">
    <div class="row">
      <div class="col-12 col-md-12">
        <ul class="bg-light row">
          <li class="col-md-6" >
       <a routerLink="./owner-event-form">Add Event</a>
          </li>
          <li class="col-md-6">
            <a routerLink="#">View Event</a>
          </li> 
  
        </ul>
      </div>
      <!-- side data -->
      <div class="col-12 col-md-12" id="event-data">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>