 <div class="container-fluid" id="society-gallery">
   <div class="col-8 col-sm-8 col-md-12 col-lg-12">
<div class="container-fluid gallery">
    <div id="gallery-span" >
        <span class="colorblack">G</span><span class="colorgreen">A</span><span class="color">L</span>
        <span class="colorgre">L</span><span class="color">E</span>
        <span class="colorgreen">R</span><span class="colorblack">Y</span>
    </div>
<div class="row">
    

     <div class="col-12 col-sm-12 col-md-3 col-lg-3 " id="pic1">
             <a href="{{first}}" data-lightbox="mygallery"><img  [src]="first"></a>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 " data-lightbox="mygallery" id="pic2">
             <a href="{{second}}" data-lightbox="mygallery"><img  [src]="second"></a>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 " id="pic3" >
              <a href="{{third}}" data-lightbox="mygallery"><img  [src]="third" ></a>
              </div>
              <div class=" col-12 col-sm-12 col-md-5 col-lg-5" id="pic4">
             <a href="{{fourth}}" data-lightbox="mygallery"><img [src]="fourth"></a>
              </div>
            
             <div class=" col-12 col-sm-12 col-md-5 col-lg-5" id="pic6">
                 <a href="{{sixth}}" data-lightbox="mygallery"><img [src]="sixth"></a>
              </div>
              
              <div class=" col-12 col-sm-12 col-md-3 col-lg-3" id="pic7">
                    <a href="{{seventh}}" data-lightbox="mygallery" ><img [src]="seventh"></a>
                  </div>
                  <div class=" col-12 col-sm-12 col-md-3 col-lg-3" id="pic5">
                      <a href="{{fifth}}" data-lightbox="mygallery"><img [src]="fifth"></a>
                  </div>
                  <div class=" col-12 col-sm-12 col-md- col-lg-3" id="pic8">
                       <a href="{{eight}}" data-lightbox="mygallery"><img [src]="eight"></a>
                      </div>

                    </div>
      </div>              
</div>
</div> 