/* *{
    margin: 0px;
    padding: 0px;
}
#admin-main{margin-top: 60px;}
#admin-main ul{list-style: none; background: blue;text-align: center;color: white;}
#admin-main a{text-decoration: none;color: white; }
#admin-main li{ padding: 20px;font-weight: bold;}
#admin-main li:hover{border-left: skyblue 5px solid;background-color: black;}

/* admin-data */
/* #admin-data{max-width: 100%;opacity:1;} */ 

#desh{height: 55px;background-color: #a0b9b9;}
  #data{background-color: #201c6d;}
  #data a{padding: 0px;padding-top: 22px;padding-bottom: 22px;}
  a{color: white;}
  .profilepic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    border-color: white;
    border-style: solid;
    top: -50px;
    left: calc(50% - 50px) ;
    
    
}