<div class="container-fluid" id="admin-main" >
  <div class="row">
    <div class="col-12 col-md-2">
  <ul class="bg-dark">
    <li><a routerLink="/admin-dashboard/society">Society Management</a></li>
    <li><a routerLink="/admin-dashboard/event-management">Event Management</a></li>
    <li><a routerLink='/admin-dashboard/vendors'>Vendor Management</a></li>
    <li><a routerLink='/admin-dashboard/parking'>Parking Management</a></li>
    <li><a routerLink="#">Assets Management</a></li>
    <li><a routerLink="#">Money Management</a></li>
  </ul>
  </div>
  <!-- side data -->
  <div class="col-12 col-md-10" id="admin-data">
   <router-outlet></router-outlet>
  </div>
</div>
</div>