*{
    margin: 0px;
    padding: 0px;
    background-color: #e6e6ff;
}
/* #event-main{margin-top: 60px;background-color: tomato} */
#event-main ul{list-style: none; background: rgb(241, 241, 245);text-align: center;color: white;}
#event-main li{ padding: 20px;font-weight: bold;}
#event-main li:hover{border-left: skyblue 5px solid;background-color: black;}
 
/* admin-data */