<!-- <div class="container-fluid" id="event-main">
  <div class="row">
    <div class="col-12 col-md-12">
      <ul class="bg-dark row">
        <li class="col-md-12">
          <a routerLink="./registration">Registration Form</a>
        </li>
        
      </ul>
    </div> -->
    <!-- side data -->
    <!-- <div class="col-12 col-md-12" id="event-data">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<div class="container">
<div class="row">
  <div class="col-md-6">
    <app-registration-form ></app-registration-form>
  </div>
  <div class="col-md-6">
    <app-search></app-search>
  </div>
</div>
</div>
