.container{
    box-shadow: 5ch
}

.tab-control .previous-button, .tab-control .next-button{
    position: absolute;
    top: 94%;
}

.tab-control .previous-button{
    left: 10%;
}

.tab-control .next-button{
    right: 20%;
}

button{
    align-content: center;
    margin: 5px;
    align-self: center
}

#search{
    margin: 10px;
}