<div class = "container">
    <button type="button" (click)="refetchUsers()">
      <i class="fa fa-repeat"></i>
      Refresh</button>
      <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
      <div>
    </div>  
      
    <table class="table table-hover" >
    
      <thead>
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">CONTACT NO</th>
          <th scope="col">USER TYPE</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let a of users |filterpipe:_searchTerm" (click)="onItemClick(a)" >
          <td>{{a.first_name}}</td>
          <td>{{a.phone_no}}</td>
          <td>{{a.user_type}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    
  
    <!-- <div class="tab-control">
      <a class="previous-button" role="button"><i class="fa fa-angle-left fa-3x fa-fw"></i></a>
      <a class="next-button" role="button"><i class="fa fa-angle-right fa-3x fa-fw"></i></a>
    </div> -->