<div class="container">
    <h1>REGISTRATION FORM</h1> 
    <form #registrationForm="ngForm" (ngSubmit)="saveRegistration(registrationForm.value)">
   
    
        <!-- first name -->
    <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name"
    required
    pattern="[a-zA-Z]+"
    name="first_name" [(ngModel)]="model.first_name"
    #first_name="ngModel">
    <div *ngIf= "first_name.errors && (first_name.dirty || first_name.touched) "
    class="alert alert-danger">
    <div [hidden]="!first_name.hasError('required')">First Name is required</div>
    <div [hidden]="!first_name.hasError('pattern')">Only alphabets allowed</div>
    </div>
    </div>

   <!-- last name -->
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name"
        required
        pattern="[a-zA-Z]+"
        name="last_name" [(ngModel)]="model.last_name"
        #last_name="ngModel">
        <div *ngIf= "last_name.errors && (last_name.dirty || last_name.touched) "
        class="alert alert-danger">
        <div [hidden]="!last_name.hasError('required')">Last Name is required</div>
        <div [hidden]="!last_name.hasError('pattern')">Only alphabets allowed</div>
        </div>
        </div>
    

        <!-- Age -->
    <div class="form-group">
    <label for="age">Age</label>
    <input type="text" [(ngModel)]="model.age" class="form-control" pattern="[0-9]*" id="age" required 
    maxlength="2" name="age" #age="ngModel">
    <div *ngIf= "age.error && (age.dirty || age.touched) "
    class="alert alert-danger">
    <div [hidden]="!age.hasError('required')"> Age is required</div>
    <div [hidden]="!age.hasError('pattern')">Age should be only numbers</div>
    </div>
    </div>

     <!-- Flat_id -->
     <div class="form-group">
    <label for="flat_id">Flat Id</label>
        <input type="text" class="form-control" id="flat_id"
        required
        pattern = "[0-9]*"
        name="flat_id" [(ngModel)]="model.flat_id"
        #flat_id="ngModel">
        <div *ngIf= "flat_id.errors && (flat_id.dirty || flat_id.touched) "
        class="alert alert-danger">
        <div [hidden]="!flat_id.hasError('required')">Flat_id is required</div>
        <div [hidden]="!flat_id.hasError('pattern')">Only numbers allowed</div>
        </div>
        </div>

        <!-- phone no -->
    <div class="form-group">
        <label for="phone_no">Phone No.</label>
        <input type="text" [(ngModel)]="model.phone_no" class="form-control" pattern="[0-9]*" id="phone_no" required name="phone_no" #phone_no="ngModel" minlength="10"
        maxlength="10">
        <div *ngIf= "phone_no.errors && (phone_no.dirty || phone_no.touched) "
        class="alert alert-danger">
        <div [hidden]="!phone.hasError('minlength')">phone_no should be 10digit</div>
        <div [hidden]="!phone_no.hasError('required')"> Phone_No is required</div>
        <div [hidden]="!phone_no.hasError('pattern')">Phone_No should be only numbers</div>
        </div>
        </div>
    

        <!-- User_name -->
        <div class="form-group">
            <label for="user_name">User Name</label>
            <input type="text" class="form-control" id="user_name"
            required
            pattern="[a-zA-Z]+"
            name="user_name" [(ngModel)]="model.user_name"
            #user_name="ngModel">
            <div *ngIf= "user_name.errors && (user_name.dirty || user_name.touched) "
            class="alert alert-danger">
            <div [hidden]="!user_name.hasError('required')">User Name is required</div>
            <div [hidden]="!user_name.hasError('pattern')">Only alphabets allowed</div>
            </div>
            </div>
         
    
       <!-- EMail -->
       <div class="form-group">
        <label>Email</label>
        <input
        id="contactemail" class ="form-control"
        type="text" 
        #contactemail="ngModel"
        [(ngModel)]="model.email"
        required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" #email="ngModel">
        <div *ngIf= "email.errors && (email.dirty || email.touched) "
        class="alert alert-danger">
        <div [hidden]="!email.hasError('required')">email is required</div>
        </div>
        </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" >
        <div *ngIf= "password.errors && (password.dirty || password.touched) "
        class="alert alert-danger">
        <div [hidden]="!password.hasError('required')">Password is required</div>
        </div>
        </div>


    <!-- Aadhar_Card_No -->
    <div class="form-group">
    <label for="aadharcardno">Aadhar Number</label>    
     <input type="text" class="form-control" id="aadharcardno" maxlength="12" 
      pattern="[0-9]*" required [(ngModel)]="model.aadharcardno" name="aadharcardno"  pattern ="^\d{4}\s\d{4}\s\d{4}$" name="aadharcardno" #aadharCardNo="ngModel">
                <div *ngIf= "aadharCardNo.errors && (aadharCardNo.dirty || aadharCardNo.touched) "
                class="alert alert-danger">
                <div [hidden]="!aadharCardNo.hasError('required')">aadhar_Card_No is required</div>
                <!-- <div [hidden]="!aadharCardNo.hasError('pattern')">Aadhar number should be only numbers </div> -->
                </div>
                </div> 
            
    
        <!-- Gender -->
        <div> 
            <label for="gender" >Gender</label> <br/>
            <input type="radio" value="male" > Male
            <input type="radio" value="female" name="gender"  required > Female
            </div> 
            <br/>
         

        <!-- user_type -->
        <div class="form-group">
            <label for="user">User</label><br/>
            <select id="user" name="user_type">
              <option value="select">Select</option>
              <option value="admin">Admin</option>
              <option value="owner">Owner</option>
              <option value="tenant">Tenant</option>
            </select>
        </div> 

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  Angular Generated Form Model : {{registrationForm.value | json}}
    </div>
    
