<div id="bookedTable">
  <h4>
    {{bookingHead}}
  </h4>
  <!-- <hr/> -->
  <table class='table table-stripped table-hover table-sm' id="bookedTable">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Date From</th>
        <th scope="col"> To</th>
        <th scope="col">Time From</th>
        <th scope="col">To</th>
        <th scope="col">Venue</th>
        <!-- <th scope="col">Member Type</th> -->
        <!-- <th scope="col">Invited Guest</th> -->
        <!-- <th scope="col">Charges</th>-->
        <!-- <th scope="col">Action</th> -->
        <th scope="col">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let event of events'>
        <td>{{event.commonevents}}</td>
        <td>{{event.datefrom}}</td>
        <td>{{event.dateto}}</td>
        <td>{{event.timestart}}</td>
        <td>{{event.timeend}}</td>
        <!-- <td></td> -->
        <!-- <td></td> -->
        <td></td>
      
        <td class="info">

          <button type="button" class="btn btn-success " routerLink="/">Booked
          </button>
        </td>
      </tr>
      <tbody>
  </table>
</div>
<div>


  <button routerLink="../venues" class="btn btn-default btn-lg mr-1" id="back-button" >
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Back
  </button>

  <button type="button" class="btn btn-lg " (click)="fetchEvents()">
    <i class="fa fa-repeat"></i>
    Refresh</button>
</div>