
<h4 class="container">
{{bookingHead}}
</h4>

<table class='table table-stripped table-hover'>
  <thead>
    <tr class="table-success">
      <td>Event Name</td>
      <td>Event Type</td>
      <td>Venue Name</td>
      <td>Location</td>
      <td>Date From</td>
      <td> To</td>
      <td>Time From</td>
      <td>To</td>
      <td>Member Type</td>
      <td>User ID</td>
      <td>Charges</td>
      <td>Actions</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let event of events' >

      <td>{{event.commonEvents}}</td>
  
      <td></td>
      <td></td>
      <td></td>
      <td>{{event.dateFrom}}</td>
      <td>{{event.dateTo}}</td>
      <td>{{event.timeStart}}</td>
      <td>{{event.timeEnd}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="info">
        <!-- Single Button -->
          <button type="button" class="btn btn-default " (click)="editHistory(event,event.id)" >Edit History
          </button>
      </td>
      <td class="info">
          <!-- Single Button -->
            <button type="button" class="btn btn-default " (click)="onDelete(event.id)" >Delete 
            </button>
        </td>
    </tr>
    <tbody>
</table>
<button type="button" (click)="fetchEvents()">
    <i class="fa fa-repeat"></i>
    Refresh</button>
<div>
  
  <!-- <p style="padding-top:80px"></p> -->
      <button routerLink="/"  class="btn btn-default btn-lg" id="back-button">Back</button>
      <button class='btn btn-success btn-lg' routerLink="/" id="confirm-button">Confirm & Pay</button>
</div>
