<div   id="bookedTable">
  <h4>
      {{bookingHead}}
  </h4>
  <!-- <hr/> -->
<table class='table table-stripped table-hover table-sm' id="bookedTable">
<thead>
  <tr>
    <th scope="col">Event Name</th>
    
    <th scope="col">Venue Name</th>
    <th scope="col">Location</th>
    <th scope="col">Date From</th>
    <th scope="col"> To</th>
    <th scope="col">Time From</th>
    <th scope="col">To</th>
    <th scope="col">Member Type</th>
    <th scope="col">User ID</th>
    <!-- <th scope="col">Charges</th>-->
    <th scope="col">Action</th>
    <!-- <th scope="col">Actions</th>  -->
  </tr>
</thead>
<tbody>
  <tr *ngFor='let event of events' >

    <td>{{event.commonEvents}}</td>

    <td></td>
    <td></td>
    <td>{{event.dateFrom}}</td>
    <td>{{event.dateTo}}</td>
    <td>{{event.timeStart}}</td>
    <td>{{event.timeEnd}}</td>
    <td></td>
    <td></td>
    <!-- <td></td> -->
   
    <!-- <td class="info">
      
        <button type="button" class="btn btn-default " (click)="onUpdate(event,event.id)" (click)="refetchCommonEvent()" (click)="onItemClick(event)" routerLink="../common-form" >Update
        </button>
    </td>-->
    <td class="info">
        
          <button type="button" class="btn btn-default " (click)="onDelete(event.id)" >Delete 
          </button>
      </td> 
  </tr>
  <tbody>
</table>

<button type="button" class="btn btn-lg" (click)="fetchEvents()">
  <!-- <i class="fa fa-repeat"></i> -->
  Refresh</button>



    <button routerLink="/"  class="btn btn-default btn-lg" id="back-button" style="margin-left:10px;">Back</button>
    <button class='btn btn-success btn-lg' routerLink="/" id="confirm-button" style="float:right;">Confirm & Pay</button>

</div> 
