<div class="container">

        <p>Complete and submit this form to register with dream society. All individuals residing in an apartment shall complete a owner registration form.</p>
          <h1>OWNER INFORMATION FORM</h1>
              <form>
        
                <!-- name -->
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" required name="title">
                </div>
        
                <!-- age -->
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" maxlength="3" id="age" required name="age">
                </div>
      
                 <!-- phone_no -->
                 <div class="form-group">
                    <label for="phone_no">Phone No.</label>
                    <input type="number" class="form-control" maxlength="10" id="phone_no" required name="phone_no">
                </div>
        
        
                <!-- address -->
        
                <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="address" required name="address">
                </div>
        
               
                <!-- email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required name="email">
              
                    </div>
      
                <!-- password -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" required name="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                    title="must be contain atleast 8 chracter one be capital one be a number and one be a symbol"/>
               </div>
        
                <!-- confirm_password -->
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control " id="password" required name="password">
                </div>

                <!--apartments -->
                <div class="form-group">
                        <label for="apartments">Apartments</label><br/>
                        <select id="apartments">
                          <option value="1bhk">1BHK</option>
                          <option value="2bhk">2BHK</option>
                          
                        </select>
                    </div>
            

                
      

                 <!-- tenant/occupant status -->
                 <div class="form-group">
                    <label for="tenant/occupant status">Tenant/Occupant Status</label><br/>
                    <select id="tenant/occupant status">
                      <option value="additional space">Additional Space</option>
                      <option value="primary tenant">Primary Tenant</option>
                      <option value="minor occupant tenant">Minor Occupant Tenant</option>
                      <option value="dependent occupant tenant">Dependent Occupant Tenant</option>
                    </select>
                </div>
        
                 <!-- Vehicles -->
                 <div class="form-group">
                    <label for="vehicles">Vehicles</label><br/>
                    <select id="vehicle">
                      <option value="one">One</option>
                      <option value="two">Two</option>
                      <option value="none">None</option>
                    </select>
                </div>
        
                <!-- Aadhar card no -->
                <div class="form-group">
                    <label for="aadhar_card_no">Aadhar Card No.</label>
                    <input type="number" class="form-control" id="aadhar_card_no" required name="aadhar_card_no">
                </div>
            
                    
                  <!-- gender -->
                  <div class="form-group">
                <label for="gender" >Gender</label> <br />
                        <select id="gender" >
                            <option value="male">Male</option>
                            <option value="female">Female</option>  
                            <option value="others">Others</option> 
                 </select>
                 </div>  
      
                
              <!-- submit button -->
                 <input type="submit" value="Submit" />
                       
              </form>
            </div>        
              
                  
        
                
                   
                   