<div class="container">
  <h3>{{venueHead}}</h3>

  <table class="table">
    <thead>
      <tr class="table-info">
         <td>
          Hall ID
        </td>
        <td>
            Hall Number
        </td>
        <td>
            Hall Name
        </td>
        <td>
          Venue
        </td>
        <td>
         Capacity
        </td>
        <td>
          Charges
        </td>
        <td>
          Availability
        </td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let venue of venuesList'>
         <td>{{venue.hall_id}}</td>
         <td>{{venue.hall_number}}</td>
         <td>{{venue.hall_name}}</td>
         <td>{{venue.hall_location}}</td>
         <td>{{venue.hall_capacity}}</td>
         <td>{{venue.hall_charges}}</td>
         
        <td >
            <!-- Single Button -->
              <button type="button" class="btn btn-success "  >{{venue.availability}}
              </button>
          </td>
        
      </tr>
    </tbody>
  </table>
<hr/>

    <!-- <p style="padding-top:80px"></p> -->
        <button routerLink="/"  class="btn btn-default btn-lg" id="back-button">Back</button>
        <button class='btn btn-success btn-lg' routerLink="/" id="proceed-button">Proceed</button>
      </div>