<div class="container">
  <table class="table-danger">
  <h3 >{{venueHead}}</h3>
  </table>

  <table class="table">
    <thead>
      <tr class="table-info">
        <td>
          Venue
        </td>
        <td>
          Venue Type
        </td>
        <td>
          Location
        </td>
        <td>
         Capacity
        </td>
        <td>
          Availability
        </td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let venue of venueList'>
        <td>{{venue.vname}}</td>
        <td>{{venue.vtype}}</td>
        <td>{{venue.vlocation}}</td>
        <td>{{venue.capacity}}</td>
        <td >
            <!-- Single Button -->
              <button type="button" class="btn btn-success "  >available
              </button>
          </td>
        
      </tr>
    </tbody>
  </table>
</div>
<div>
    <!-- <p style="padding-top:80px"></p> -->
        <button routerLink="/"  class="btn btn-default btn-lg" id="back-button">Back</button>
        <button class='btn btn-success btn-lg' routerLink="/" id="proceed-button">Proceed</button>
  </div>