.container-fluid{background-color:#2f296b; padding: 10px;}
#dymaticChart1{box-shadow: 5px 5px 5px 5px  black;background-color:#2f296b;padding: 10px;}
#dymaticChart2{box-shadow: 5px 5px 5px 5px  black;background-color:#2f296b;padding: 10px;}
h4{text-align: center;color: wheat;}