<form id="common-container" name="id" #ownerEventForm="ngForm" (ngSubmit)="onSubmit(ownerEventForm)">
  
  <h4>Add Event</h4>
  <input type="text" name="id" hidden key="ngModel" [(ngModel)]="_form.id">
  <hr />

  <!-- Name -->
  <div class="form-group row" id="common" style="margin-left: -13px">
    <label class="col-2 col-form-label">Name</label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Enter your name" id="example-text-input" required name="name" 
      [(ngModel)]="_form.name" #name="ngModel" pattern="[a-z A-Z]+" maxlength="20" minlength="5" ngModel>
      <div *ngIf="name.errors && (name.dirty || name.touched) " class="text-danger">
        <small [hidden]="!name.hasError('required')">Name is required</small>
        <small [hidden]="!name.hasError('pattern')">Only alphabets allowed</small><br/>
        <small [hidden]="!name.hasError('minlength')">Minimum 5 characters allowed</small>
      </div>
    </div>
  </div>


  <!-- Event Type -->
  <div id="common">
  <div class="form-group row">
    <label class="col-2 col-form-label">Event Type</label>
    <div class="col-4">
      <select class="custom-select" 
      name="personalEvents" [(ngModel)]="_form.personalevents" #personalevents="ngModel" ngModel> 
        <option value="default">Please select an Event</option>
        <option *ngFor="let personalevents of personalEvents">{{personalevents.name}}</option>
      </select>
      <!-- <small class="text-danger" [class.d-none]="!personaleventsHasError || perosnaleventsControl.untouched">Please choose an Event</small> -->
    </div>
  </div>
</div>

  <!-- Date -->
  <div id="common">
  <label>Please select a Date</label>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">From:</label>
    <div class="col-3">
      <input class="form-control" type="date" 
      required name="dateFrom" [(ngModel)]="_form.datefrom" #datefrom="ngModel" ngModel>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">To:</label>
    <div class="col-3">
      <input class="form-control" type="date" 
      required name="dateTo" [(ngModel)]="_form.dateto" #dateto="ngModel" ngModel>
    </div>
  </div>
</div>

<!-- Time -->
<div id="common">
  <label>Please select a Time</label>
  <div class="form-group row">
    <label for="example-time-input" class="col-2 col-form-label">Start:</label>
    <div class="col-2">
      <input class="form-control" type="time" 
      required name="timeStart" [(ngModel)]="_form.timestart" #timestart="ngModel" ngModel>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-time-input" class="col-2 col-form-label">End:</label>
    <div class="col-2">
      <input class="form-control" type="time"
      required name="timeEnd" [(ngModel)]="_form.timeend" #timeend="ngModel" ngModel>
    </div>
  </div>
</div>

<!-- Proceed -->
  <div>

    <button type="submit" class="btn btn-success btn-lg" id="proceed-button" routerLink="../members-list">Proceed</button>
    <button type="submit" class="btn btn-success btn-lg" id="submit-button">Save</button>
    <button type="reset" class="btn btn-primary btn-lg"  id="reset-button" value="reset">
        <i class="fa fa-repeat"></i>
        Reset</button>
  </div>
</form>


<!-- <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Phone</label>
    <div class="col-4">
      <input class="form-control" type="search" placeholder="Enter your Phone number" id="example-search-input" maxlength="10"
        minlength="10" required name="phone" [(ngModel)]="model.phone" #phone="ngModel" pattern="[0-9]*" [class.is-invalid]="phone.invalid && phone.touched">
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone Number is Required</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Email</label>
    <div class="col-4">
      <input class="form-control" type="email" placeholder="Enter your E-mail id" id="example-email-input" #email="ngModel" [(ngModel)]="model.email"
        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is Required (eg:abc123@john.com)</small>
    </div>
  </div> -->

<!-- <div class="form-group row">
    <label for="example-password-input" class="col-2 col-form-label">Hall Type</label>
    <div class="col-3">
        <select class="custom-select">
            <option value="default">Select a Hall</option>
            <option *ngFor="let halls of commonHalls">{{halls}}</option>
        </select>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">Members</label>
    <div class="col-2">
        <div class="list-group" id="society-members">
            <a  class="list-group-item active">Select Members</a>
            <a  class="list-group-item">Ajay Srivastava <input type="checkbox" class="pull-right" id="members-checkbox"></a>
            <a  class="list-group-item">Shankar Mahanjan <input type="checkbox" class="pull-right" id="members-checkbox"></a>
            <a  class="list-group-item">Sanjay Dutt <input type="checkbox" class="pull-right" id="members-checkbox"></a>
            <a  class="list-group-item">Sunil Kumar <input type="checkbox" class="pull-right" id="members-checkbox"></a>
            </div>
    </div> </div> -->