
#event-main ul{
    list-style: none; 
    background: blue;
    text-align: center;
    color: white;
    padding-left: 0px;
}

#event-main li{ 
    padding: 20px;
    font-weight: bold;
    
}

#event-main li:hover{
    border-left: skyblue 5px solid;
    background-color: lightgray;
}

*{
    margin: 0px;
    
}
