<div class="container-fluid" id="event-main">
    <div class="row">
      <div class="col-12 col-md-12">
        <ul class="bg-light row" id="header">
          <li class="col-md-6" id="addEventHeader">
       <a routerLink="./common-form">Add Event</a>
          </li>
          <li class="col-md-6" id="viewEventHeader">
            <a routerLink="./view-booked-events">View Event</a>
          </li> 
  
        </ul>
      </div>
      <!-- side data -->
      <div class="col-12 col-md-12" id="event-data">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

 