<div class="container-fluid" id="user-main">
    <div class="row">
      <div class="col-12 col-md-2">
    <ul class="bg-dark">
      <li><a routerLink="/user-dashboard/view-vendor">Vendor Management</a></li>
      <li><a routerLink="#">Parking Management</a></li>
      <li><a routerLink="/user-dashboard/event-management">Event Management</a></li>
    </ul>
    </div>

    <!-- side data -->
    <div class="col-12 col-md-10" id="user-data">
     <router-outlet></router-outlet>
    </div>
  </div>
  </div>