#user{position: relative;width: 100%;height: 793px;background-color:#3d3780;}

#desh{height: 55px;background-color: #3d3780;}
  #data{background-color: #3d3780;}
  #data a{padding: 0px;padding-top: 22px;padding-bottom: 22px;}
  a{color: white;}
  .profilepic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    border-color: white;
    border-style: solid;
    top: -50px;
    left: calc(50% - 50px) ;
    }
   