#members-checkbox{
    float: left;
}

#proceed-button{
    float: right;
    margin-right:0px;
    margin-bottom: 11px;
}

#update-button, #submit-button, #reset-button{
    float: left;
    margin-right: 15px;
}

#common-container{
    /* border: 1px solid grey; */
    height:100%;
    width: 100%;
    /* margin-left: 50px; */
    background-color:aliceblue;
    margin-top: 10px;
    padding-top: 16px;
}

#common{
    margin-left: 1px;
}

#heading{
    text-align: center;
}

#display-event{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    margin-left: -17px;
    margin-top: 2.1%;
}