#members-checkbox{
    float: right;
}

#proceed-button{
    float: right;
    margin-right: 100px;
    margin-bottom: 11px;
}

#proceed-button, #submit-button, #reset-button{
    float: right;
    margin-right: 15px;
}

#common-container{
    border: 1px solid grey;
    height:100%;
    width: 93%;
    margin-left: 50px;
    background-color:aliceblue;
    margin-top: 10px;
    padding-top: 16px;
}

#common{
    margin-left: 1px;
}

#heading{
    text-align: center;
}